@font-face {
  font-family: "iconfont"; /* Project id 4026960 */
  src: url('iconfont.woff2?t=1694577308742') format('woff2'),
       url('iconfont.woff?t=1694577308742') format('woff'),
       url('iconfont.ttf?t=1694577308742') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\eca0";
}

.icon-xinxifill:before {
  content: "\e762";
}

.icon-xiai:before {
  content: "\e600";
}

.icon-xinxi:before {
  content: "\e763";
}

.icon-gitee1:before {
  content: "\e615";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-taiyangtianqi:before {
  content: "\e60d";
}

.icon-yejianmoshishenyemoshiyueliang:before {
  content: "\e624";
}

.icon-down:before {
  content: "\e7eb";
}

.icon-detail:before {
  content: "\e793";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-home:before {
  content: "\e7c6";
}

.icon-read:before {
  content: "\e7d8";
}

.icon-link:before {
  content: "\e7e2";
}

.icon-tags:before {
  content: "\e7e5";
}

.icon-search:before {
  content: "\e8ef";
}

